{% extends "masters/index_master.html" %}

{% block title %}
    Shop
{% endblock title %}

{% load static %}

{% block body%}
<style>
    .page.active{
        background-color:#86a0b6 !important;
        color:white !important;
    }
</style>
        <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <ul>
                                <li><a href="index.html">Home </a></li>
                                <li><span>Product Page</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->

        <!-- start wpo-shop-page -->
        <section class="wpo-shop-page section-padding">
            <h2 class="hidden">some</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-lg-2">
                        <!-- start wpo-product-section -->
                        <section class="wpo-product-section">
                            <div class="sorting-section">
                                {% comment %} <ul>
                                    
                                    <li>
                                        <select name="sorting" id="sorting" class="select">
                                            <option value="menu_order" selected="selected">Default Sorting</option>
                                            <option value="rating">Sort by average rating</option>
                                            <option value="date">Sort by newness</option>
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </li>
                                </ul> {% endcomment %}
                            </div>
                            {% if products %}
                            <div class="wpo-product-wrap">
                                <div class="row">
                                    {% for product in products %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="wpo-product-item">
                                            <div class="wpo-product-img">
                                                <img src="/media/{{product.images}}" alt="">
                                                <form action="{% url 'add-to-cart-product' product_id=product.id%}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit">Add To Cart</button>
                                                </form>
                                            </div>
                                            <div class="wpo-product-text">
                                                <h3><a href="{% url 'single-product' slug=product.slug%}">{{product.name}}</a></h3>
                                                <span>${{product.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pagination-wrapper pagination-wrapper-center">
                                <ul class="pg-pagination">
                                    {% for num in paginator.page_range %}
                                    {% if num == products.number %}
                                    <li>
                                        <a href="#" class="page active">{{num}}</a>
                                    </li>
                                    {% else %}
                                        <li>
                                            <a href="?page={{ num }}" >{{ num }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                            <h2>No Products Found</h2>
                            {% endif %}

                        </section>
                        <!-- end wpo-product-section -->
                    </div>
                    <div class="col-lg-3 col-md-8 order-lg-1">
                        <div class="wpo-shop-sidebar">
                            <div class="widget widget_search">
                                <div class="search-widget">
                                    <form class="searchform">
                                        <div>
                                            <input type="text" name="q" placeholder="Search..." {%if q %}value={{q}}{% endif%}>
                                            <button type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget woocommerce widget_product_categories">
                                <h3>Filter by categories</h3>
                                <ul class="product-categories">
                                    <li class="cat-item cat-parent">
                                        <a href="{% url 'shop'%}?q=dresses">Dresses</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="{% url 'shop'%}?q=flowers">Wedding flowers</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="{% url 'shop'%}?q=rings">Rings</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="{% url 'shop'%}?q=footwear">Footwear</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="{% url 'shop'%}?q=cake">Cake</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget_price_filter">
                                {% comment %} <h3>Filter By Price</h3>
                                <div class="filter-price">
                                    <form>
                                        <div id="slider-range"></div>
                                        <button>filter</button>
                                        <p>Price : <input type="text" id="amount"></p>
                                    </form>
                                </div> {% endcomment %}
                            </div>
                            <div class="widget widget_best-seller">
                                
                            </div>
                            <div class="widget wpo-instagram-widget">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end wpo-shop-page -->

{% endblock body%}
