{% load static %}

<footer class="wpo-site-footer">
    <div class="wpo-upper-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <img src="{% static 'images/logo.png'%}" alt="blog">
                        </div>
                        <p>Welcome and open yourself to your truest love this year with us! With the Release
                            Process</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>Information</h3>
                        </div>
                        <ul>
                            <li><a href="{% url 'about'%}">About Us</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="blog.html">Latest News</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="service.html">Our Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget wpo-service-link-widget">
                        <div class="widget-title">
                            <h3>Contact </h3>
                        </div>
                        <div class="contact-ft">
                            <p>Would you have any enquiries.Please feel free to contuct us</p>
                            <ul>
                                <li><i class="fi flaticon-email"></i>loveme@gmail.com</li>
                                <li><i class="fi flaticon-phone-call"></i>+888 (123) 869523</li>
                                <li><i class="fi flaticon-maps-and-flags"></i>New York – 1075 Firs Avenue
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget instagram">
                        <div class="widget-title">
                            <h3>Instagram</h3>
                        </div>
                        <ul class="d-flex">
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/1.jpg"
                                        alt=""></a></li>
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/2.jpg"
                                        alt=""></a></li>
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/3.jpg"
                                        alt=""></a></li>
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/4.jpg"
                                        alt=""></a></li>
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/5.jpg"
                                        alt=""></a></li>
                            <li><a href="portfolio-single.html"><img src="{% static 'images/inst'%}ragram/6.jpg"
                                        alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="wpo-lower-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <p class="copyright"> &copy; 2021 <a
                            href="https://webxter.in" target="_blank">Webxter</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>