{% load static %}
<section class="wpo-fun-fact-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-fun-fact-grids clearfix">
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="1200">00</span></h3>
                            <p>Happy Couples</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="1545">00</span></h3>
                            <p>Weddings</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="750">00</span>+</h3>
                            <p>Decoration</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="info">
                            <h3><span class="odometer" data-count="265">00</span>+</h3>
                            <p>Locations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-shape-1">
            <img src="{% static 'images/f-shape-1.png'%}" alt="">
        </div>
        <div class="f-shape-2">
            <img src="{% static 'images/f-shape-2.png'%}" alt="">
        </div>
    </div>
</section>