{% load static %}

<section class="wpo-testimonials-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12">
                <div class="wpo-testimonials-img">
                    <img src="{% static 'images/testimonial/l-img.jpg'%}" alt="">
                    <div class="wpo-testimonials-img-shape">
                        <img src="{% static 'images/testimonial/shape.png'%}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="wpo-testimonials-wrap">
                    <h2>What Our Client Say</h2>
                    <div class="wpo-testimonials-active owl-carousel">
                        <div class="wpo-testimonials-item">
                            <p>This is not only a wedding planning agency but also a dreamy friend.
                                I am very glad to work with them.They make my dream come true. In my wedding
                                I found them as my best friends. </p>
                            <div class="wpo-testimonial-info">
                                <div class="wpo-testimonial-info-img">
                                    <img src="{% static 'images/testimonial/img-1.jpg'%}" alt="">
                                </div>
                                <div class="wpo-testimonial-info-text">
                                    <h5>Jenefer Marvella</h5>
                                    <span>Wedding 12/12/19</span>
                                </div>
                            </div>
                        </div>
                        <div class="wpo-testimonials-item">
                            <p>This is not only a wedding planning agency but also a dreamy friend.
                                I am very glad to work with them.They make my dream come true. In my wedding
                                I found them as my best friends. </p>
                            <div class="wpo-testimonial-info">
                                <div class="wpo-testimonial-info-img">
                                    <img src="{% static 'images/testimonial/img-3.jpg'%}" alt="">
                                </div>
                                <div class="wpo-testimonial-info-text">
                                    <h5>David Miller</h5>
                                    <span>Wedding 06/12/21</span>
                                </div>
                            </div>
                        </div>
                        <div class="wpo-testimonials-item">
                            <p>This is not only a wedding planning agency but also a dreamy friend.
                                I am very glad to work with them.They make my dream come true. In my wedding
                                I found them as my best friends. </p>
                            <div class="wpo-testimonial-info">
                                <div class="wpo-testimonial-info-img">
                                    <img src="{% static 'images/testimonial/img-2.jpg'%}" alt="">
                                </div>
                                <div class="wpo-testimonial-info-text">
                                    <h5>Aliza Anney</h5>
                                    <span>Wedding 08/12/21</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <div class="wpo-testimonials-shape">
        <img src="{% static 'images/testimonial/shape2.png'%}" alt="">
    </div>
</section>