{% load static %}

<!-- start-header-topbar -->
        <section class="topbar">
            <h2 class="hidden">some</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-lg-7 col-md-12 col-12">
                        <div class="contact-intro">
                            <ul>
                                <li><i class="fi flaticon-email"></i>epicnuptials@gmail.com</li>
                                <li><i class="fi flaticon-phone-call"></i> +888 (123) 869523</li>
                                <li><i class="fi flaticon-maps-and-flags"></i> New York – 1075 Firs Avenue</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-12 col-12">
                        <div class="contact-info">
                            <ul>
                                <li><a href="#"><i class="fi flaticon-facebook-app-symbol"></i></a></li>
                                <li><a href="#"><i class="fi flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="fi flaticon-linkedin"></i></a></li>
                                <li><a href="#"><i class="fi flaticon-instagram-1"></i></a></li>
                                <li><a href="#"><i class="fi flaticon-pinterest"></i></a></li>
                                <li><a href="#"><i class="fi flaticon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end-header-topbar -->

        <!-- start wpo-box-style -->

        <div class="wpo-box-style">
            <!-- Start header -->
    <header id="header">
        <div class="wpo-site-header">
            <nav class="navigation navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                            <div class="mobail-menu">
                                <button type="button" class="navbar-toggler open-btn">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar first-angle"></span>
                                    <span class="icon-bar middle-angle"></span>
                                    <span class="icon-bar last-angle"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'ima'%}ges/logo.png"
                                        alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-1 col-1">
                            <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                <button class="menu-close"><i class="ti-close"></i></button>
                                <ul class="nav navbar-nav mb-2 mb-lg-0">
                                    <li class="menu-item-has-children">
                                        <a class="active" href="{% url 'homepage'%}">Home</a>
                                        
                                    </li>
                                    
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'shop' %}">Shop</a></li>
                                            <li><a href="{% url 'all-service' %}">Services</a></li>
                                            <li><a href="{% url 'cart' %}">Cart</a></li>
                                            <li><a href="{% url 'checkout'%}">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'packages' %}">Packages</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'orders' %}">Orders</a></li>
                                    {% endif %}
                                    <li class="menu-item-has-children">
                                        <a href="#">Account</a>
                                        <ul class="sub-menu">
                                            {% if user.is_authenticated %}
                                            <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
                                            {% else %}
                                            <li><a class="active" href="{% url 'login' %}">Login</a></li>
                                            <li><a href="{% url 'register' %}">Signup</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% if request.user.is_superuser %}
                                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    {% endif %}
                                </ul>
                                

                            </div><!-- end of nav-collapse -->
                        </div>
                        <div class="col-lg-2 col-md-2 col-2" >
                            <div class="header-right" >
                                <div class="header-search-form-wrapper">
                                    <div class="cart-search-contact">
                                        <button class="search-toggle-btn"><i
                                                class="fi flaticon-search"></i></button>
                                        <div class="header-search-form">
                                            <form action="{% url 'shop' %}" method="get">
                                                <div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Search here..." name="q">
                                                    <button type="submit"><i
                                                            class="fi flaticon-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="mini-cart">
                                    <button class="cart-toggle-btn"> <i class="fi flaticon-shopping-cart"></i>
                                        <span class="cart-count">{{total_products_in_cart}}</span></button>
                                    <div class="mini-cart-content" style="overflow-y: hidden;">
                                        <button class="mini-cart-close"><i class="ti-close"></i></button>
                                        <div class="mini-cart-items">
                                            
                                            {% for cart_item in cart_items %}
                                            {% with parent_cart_item=cart_item %}
                                            {% for product in cart_item.products.all %}
                                            
                                            <div class="mini-cart-item clearfix">
                                                <div class="mini-cart-item-image">
                                                    <a href="shop.html"><img
                                                            src="/media/{{product.images}}"
                                                            alt></a>
                                                </div>
                                                <div class="mini-cart-item-des">
                                                    <a href="shop.html">{{product.name}}</a>
                                                    <span class="mini-cart-item-price">${{product.price}}</span>
                                                    <span class="mini-cart-item-quantity">
                                                        <form action="{% url 'remove-product-from-cart' product_id=product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit">
                                                            <i class="ti-close"></i></button></span>
                                                        </form>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                            {% endwith %}
                                            {% endfor %}
                                            {% for cart_item in cart_items %}
                                            {% with parent_cart_item=cart_item %}
                                            {% for package in cart_item.packages.all %}
                                            
                                            <div class="mini-cart-item clearfix">
                                                <div class="mini-cart-item-image">
                                                    <a href="shop.html"><img
                                                            src="/media/{{package.image}}"
                                                            alt></a>
                                                </div>
                                                <div class="mini-cart-item-des">
                                                    <a href="shop.html">{{package.name}}</a>
                                                    <span class="mini-cart-item-price">${{package.total_price}}</span>
                                                    <span class="mini-cart-item-quantity">
                                                        <form action="{% url 'remove-package-from-cart' package_id=package.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit">
                                                            <i class="ti-close"></i></button></span>
                                                        </form>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endwith %}
                                            {% endfor %}
                                            
                                        </div>
                                        <div class="mini-cart-action clearfix">
                                            <span class="mini-checkout-price">Subtotal:
                                                <span>${{total_price}}</span></span>
                                            <div class="mini-btn">
                                                <a href="{% url 'checkout'%}" class="view-cart-btn s1">Checkout</a>
                                                <a href="{% url 'cart' %}" class="view-cart-btn">View Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
        </div>
    </header>
</div>
            <!-- end of header -->