{% extends "masters/index_master.html" %}

{% block title%}
    Cart
{% endblock title%}

{% load static %}

{% block body%}

        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Cart</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="{% url 'homepage'%}">Home</a></li>
                                <li>Cart</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->
        <!-- cart-area start -->
        <div class="cart-area section-padding">
            <div class="container">
                {% if cart_items %}
                <div class="form">
                    <div class="cart-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <table class="table-responsive cart-wrap">
                                        <thead>
                                            <tr>
                                                <th class="images images-b">Image</th>
                                                <th class="product-2">Product Name</th>
                                                <th class="ptice">Price</th>
                                                <th class="remove remove-b">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart_item in cart_items %}
                                            {% with parent_cart_item=cart_item %}
                                            {% for product in cart_item.products.all %}
                                            <tr>
                                                <td class="images"><img src="/media/{{product.images}}" alt=""></td>
                                                <td class="product">
                                                    <ul>
                                                        <li class="first-cart"> {{product.name}}</li>
                                                        <li>Tags: {{product.tags}}</li>
                                                    </ul>
                                                </td>
                                                
                                                <td class="ptice">$ {{product.price}}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                        <form action="{% url 'remove-product-from-cart' product_id=product.id%}" method="post">
                                                        {% csrf_token %}
                                                            <button  type="submit" >
                                                        <i class="fa fa-close"></i></button>
                                                    </form>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endwith %}
                                            {% endfor %}
                                        {% for cart_item in cart_items %}
                                            {% with parent_cart_item=cart_item %}
                                            {% for package in cart_item.packages.all %}
                                            <tr>
                                                <td class="images"><img src="/media/{{package.image}}" alt=""></td>
                                                <td class="product">
                                                    <ul>
                                                        <li class="first-cart"> {{package.name}}</li>
                                                    </ul>
                                                </td>
                                                
                                                <td class="ptice">$ {{package.total_price}}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                        <form action="{% url 'remove-package-from-cart' package_id=package.id%}" method="post">
                                                        {% csrf_token %}
                                                            <button  type="submit" >
                                                        <i class="fa fa-close"></i></button>
                                                    </form>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endwith %}
                                            {% endfor %}
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="submit-btn-area">
                                    <ul>
                                        <li><a class="theme-btn-s4" href="{% url 'shop'%}">Continue Shopping <i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                        <li><button type="submit">Update Cart</button></li>
                                    </ul>
                                </div>
                                <div class="cart-product-list">
                                    <ul>
                                        <li>Total product<span>( {{total_products_in_cart}} )</span></li>
                                        <li class="cart-b">Total Price<span>${{total_price}}</span></li>
                                    </ul>
                                </div>

                                <div class="submit-btn-area">
                                    <ul>
                                        <li><a class="theme-btn-s4" href="{% url 'checkout'%}">Proceed to Checkout <i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h2>Your cart is empty</h2>
                {% endif%}
            </div>
        </div>
        <!-- cart-area end -->

        
{% endblock body%}