{% extends "masters/admin_master.html" %}
{% block title %}
  Orders
{% endblock title %}

{% block body %}
<style>
  .order-container .header-area{
    background-color: black;
  }
.order-container .ui-w-40 {
    width: 40px !important;
    height: auto;
}

.order-container .card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.order-container .ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
.order-container .orders{
  margin-top:200px !important;
}
.order-container {
            margin-top: 20px;
        }
</style>


    <div class="container order-container">
        <h2>Orders</h2>
        <!-- Loop through orders -->
        {% for order in orders %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Order #{{ order.id }}</h5>
                    <p class="card-text">User: {{ order.user }}</p>
                    <p class="card-text">Name: {{ order.first_name }} {{ order.last_name }}</p>
                    <p class="card-text">Address: {{ order.address }}, {{ order.district }}, {{ order.country }}, {{ order.post_code }}</p>
                    <p class="card-text">Email: {{ order.email_address }}</p>
                    <p class="card-text">Phone: {{ order.phone_number }}</p>
                    <p class="card-text">Payment Method: {{ order.payment_method }}</p>
                    <p class="card-text">Order Notes: {{ order.order_notes }}</p>

                    {% if order.products.count > 0 %}
                    <h6>Products:</h6>
                    <ul>
                        {% for product in order.products.all %}
                          {% if order.products.count < 2 %}
                          <li>
                            {{product.name}}
                          </li>
                          {% else %}
                          {% for p in products %}
                            <li>{{ p.name }}</li>
                              
                            {% endfor %}
                          {% endif %}
                          {% with product as products %}
                            
                          {% endwith %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if order.packages.count > 0 %}
                      
                    <h6>Packages:</h6>
                    <ul>
                      {% for product in order.packages.all %}
                      {% if order.products.count < 2 %}
                      <li>
                        {{product.name}}
                      </li>
                      {% else %}
                      {% for p in products %}
                      <li>{{ p.name }}</li>
                      
                      {% endfor %}
                      {% endif %}
                      {% with product as products %}
                      
                      {% endwith %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
    </div>

    <!-- Bootstrap JS (optional) -->
    {% block headerJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock headerJS %}

{% endblock body %}
