{% extends 'masters/index_master.html'%}
        <!-- start of hero -->
{% block title %}
Comming Soon
{% endblock title %}

        {% block body %}
        <section class="static-hero-s4">
            <div class="hero-container">
                <div class="hero-inner">
                    <div class="container">
                        <div class="coming-soon-section">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="coming-soon-text">
                                        <h2>COMING SOON</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!-- start wpo-wedding-date -->
                                    
                                    <!-- end wpo-wedding-date -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->

    
{% endblock body %}