{% load static %}
<!-- include file -->
<section class="wpo-service-section">
    <h2 class="hidden">some</h2>
    <div class="container">
        <div class="wpo-service-active owl-carousel">
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-1.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-gallery"></i>
                        </div>
                        <a href="service-single.html">Photography</a>
                    </div>
                </div>
            </div>
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-2.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-serving-dish"></i>
                        </div>
                        <a href="service-single.html">Fine Dining</a>
                    </div>
                </div>
            </div>
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-3.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-edit"></i>
                        </div>
                        <a href="service-single.html">Wedding Registry</a>
                    </div>
                </div>
            </div>
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-4.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-wedding"></i>
                        </div>
                        <a href="service-single.html">Guest List</a>
                    </div>
                </div>
            </div>
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-5.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-cake"></i>
                        </div>
                        <a href="service-single.html">Perfect Cake</a>
                    </div>
                </div>
            </div>
            <div class="wpo-service-item">
                <div class="wpo-service-img">
                    <img src="{% static 'images/service/img-6.jpg'%}" alt="">

                    <div class="wpo-service-text">
                        <div class="s-icon">
                            <i class="fi flaticon-wedding-rings"></i>
                        </div>
                        <a href="service-single.html">Wedding Ceremony</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>