{% load static%}
<section class="wpo-portfolio-section section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="wpo-section-title">
                <span>Portfolio</span>
                <h2>Our Amazing Work</h2>
                <div class="section-title-img">
                    <img src="{% static 'images/section-title.png'%}" alt="">
                </div>
            </div>
        </div>
        <div class="sortable-gallery">
            <div class="gallery-filters"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-grids gallery-container clearfix">
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/1.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Maria & Robin</a></h4>
                                    <span>Austria- Feb 2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/2.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Rose & Harry</a></h4>
                                    <span>Austria- Jan 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/3.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Aliana & David</a></h4>
                                    <span>Austria- Mar 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/4.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Aliza & Ken</a></h4>
                                    <span>Austria- April 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/5.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Michel & Dianee</a></h4>
                                    <span>Austria- May 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="{% static 'images/portfolio/6.jpg'%}" alt="">
                                <div class="hover-content">
                                    <h4><a href="portfolio-single.html">Maria & Nevela</a></h4>
                                    <span>Austria- Jul 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</section>